.row{clear:both}

.column{
    width: 20%;
    float: left;
}

#to-do-title{
    margin-left: 20px;
}

#chore_group {
    margin-top: 10px;
}

#danger {
    margin-left: 10px;
    size: 1px;
}

ul {
    list-style-type: none;
  }

